body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Nunito-ExtraLight";
  src: local("Nunito"),
   url("../public/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 900;
  }
  @font-face {
    font-family: "Nunito-Black";
    src: local("Nunito"),
     url("../public/Nunito-Black.ttf") format("truetype");
    font-weight: bold;
    }
    @font-face {
      font-family: "Nunito-Regular";
      src: local("Nunito"),
       url("../public/Nunito-Regular.ttf") format("truetype");
      font-weight: bold;
      }
       @font-face {
      font-family: "Nunito-Bold";
      src: local("Nunito"),
       url("../public/Nunito-Bold.ttf") format("truetype");
      font-weight: bold;
      }
      @font-face {
        font-family: "Nunito-SemiBold";
        src: local("Nunito"),
         url("../public/Nunito-SemiBold.ttf") format("truetype");
        font-weight: bold;
        }
        @font-face {
          font-family: "Nunito-ExtraBold";
          src: local("Nunito"),
           url("../public/Nunito-ExtraBold.ttf") format("truetype");
          font-weight: bold;
          }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:where(.css-dev-only-do-not-override-1fviqcj)[class^="ant-typography"]{
  font-family: 'Nunito-Regular',
    sans-serif;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-typography {
  font-family: 'Nunito-Regular',
    sans-serif;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-input {
  font-family: 'Nunito-Regular',
    sans-serif;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-input-affix-wrapper >input.ant-input{
  font-size: 16px;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-menu-vertical >.ant-menu-item{
  color: #7E7D88;
  user-select: none;
  font-family: 'Nunito-Regular';
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-menu-light .ant-menu-item-selected{
  background-color: #FF7506 !important;
  color: #ffffff;
  user-select: none;
  font-family: 'Nunito-Regular';
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: 42px;
    align-items: center;
    font-size: 16px;
    font-family: 'Nunito-Regular';
}
li.marker-yellow::marker{
  color:#FFD130
}
li.marker-gray::marker{
  color:#7E7D88
}
li.marker-blue::marker{
  color:#4277FF
}
li.marker-green::marker{
  color:#35C75A
}
li.marker-pink::marker{
  color:#F178B6

}
li.marker-red::marker{
  color:#EC3740

}
:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  background: #ff7506;
  color: #ffffff;
}
:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: none;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-calendar-header {
  justify-content: center;
}

.ant-picker-content thead tr th {
  color: #ff9138 !important;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 19px !important;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 19px;
  color: #535261;
}
:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.ant-dropdown-menu-item:hover {
  background-color: #fff2e7 !important;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-table-wrapper .ant-table-tbody>tr>td{
  padding: 0px 8px;
  height: 45px;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-table-wrapper .ant-table-thead>tr>th{
  padding: 11px 8px;
  background-color: #FF9138;
color: #ffffff;
font-size: 14px;
font-family: 'Nunito-Bold';
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-pagination .ant-pagination-item-active {
background-color: #FF7506;
border:none;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-pagination .ant-pagination-item-active a {
  color: #ffffff;

}
:where(.css-dev-only-do-not-override-1fviqcj).ant-pagination .ant-pagination-item-active:hover a {
  color: #ffffff;
}
.bg-orange-50{
background-color: #FFF2E7;
}
.bg-white{
  background-color: #ffffff;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-select-multiple.ant-select-show-arrow .ant-select-selector{
  padding: 8px

}
:where(.css-dev-only-do-not-override-1fviqcj).ant-picker .ant-picker-input >input{
  font-size: 16px;
  color: #A9A9B0;
  line-height: 24px;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-modal .ant-modal-content{
  padding: 0;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-menu .ant-menu-submenu-title .ant-menu-item-icon +span{
  margin-inline-start: 4px;
  color:#7E7D88
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-menu-vertical .ant-menu-submenu-title{
  margin-inline: 0;
    margin-block: 0;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-menu-vertical >.ant-menu-submenu>.ant-menu-submenu-title{
  border-radius: 0;
    width: 100%;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-menu .ant-menu-submenu-arrow{
  color:#7E7D88
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1fviqcj).ant-menu-light>.ant-menu .ant-menu-item-selected{
  color:#FFFFFF
}

.scroll-bar::-webkit-scrollbar{
  width: 4px;
}
.scroll-bar::-webkit-scrollbar-thumb{
background-color: #FFC89B;
border-radius: 100rem;
}
.scroll-bar::-webkit-scrollbar-track{
border-radius: 100rem;
}
.rc-virtual-list-scrollbar.rc-virtual-list-scrollbar-show{
  background: none;
}
.rc-virtual-list-scrollbar-thumb{
background-color: #FFC89B !important;
width: 4px !important;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-picker-range{
  height: 42px;
}